
	<!-- Start Contact Area -->
	<section class="contact-area section-gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="contact-title">
						<h2>Contact Me</h2>
						<p>Let's do something amazing.</p>
					</div>
				</div>
			</div>

			<div class="row mt-80">
				<div class="col-lg-4 col-md-4">
					<div class="contact-box">
						<h4>+91 93401-40575</h4>
					</div>
				</div>
				<div class="col-lg-4 col-md-4">
					<div class="contact-box">
						<h4>iamhemant.indore@gmail.com</h4>
					</div>
				</div>
				<div class="col-lg-4 col-md-4">
					<div class="contact-box">
						<h4>hemant-portfolio.web.app</h4>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-12 text-center">
					<a href="https://www.upwork.com/freelancers/~01c5a5bc5590f16d94" target="_blank" class="primary-btn mt-50" data-text="Hire Me">
						<span>H</span>
						<span>i</span>
						<span>r</span>
						<span>e</span>
						<span> </span>
						<span>M</span>
						<span>e</span>
					</a>
				</div>
			</div>
		</div>
	</section>
	<!-- End Contact Area -->


	<!-- start footer Area -->
	<footer class="footer-area">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-12">
					<div class="footer-top flex-column">
						<div class="footer-logo">
							<a href="#">
								<img src="assets/img/logo.png" alt="">
							</a>
							<h4>Let's know more about me
							</h4>
						</div>
						<div class="footer-social">
                            <a href="https://www.linkedin.com/in/hemant-patidar-283732186/" target="_blank"><i class="fa fa-linkedin"></i></a>
							<a href="mailto:iamhemant.indore@gmail.com"><i class="fa fa-google"></i></a>
                            <a href="https://www.instagram.com/hemant_bhagat_24/" target="_blank"><i class="fa fa-instagram"></i></a>
                            <a href="https://www.facebook.com/hemantnavinoindore" target="_blank"><i class="fa fa-facebook"></i></a>

						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- End footer Area -->

	<!-- ####################### Start Scroll to Top Area ####################### -->
	<div id="back-top">
		<a title="Go to Top" href="#">
			<i class="fa fa-arrow-up" aria-hidden="true"></i>
		</a>
	</div>
	<!-- ####################### End Scroll to Top Area ####################### -->