	<!-- Start Header Area -->
	<header id="header" class="dark">
		<div class="container main-menu">
			<div class="row align-items-center d-flex">
				<div id="logo">
					<a routerLink=""><img src="assets/img/logo.png" alt="" title="" /></a>
				</div>
				<nav id="nav-menu-container">
					<ul class="nav-menu">
						<li class=""><a class="active" routerLink="index">Home</a></li>
						<li><a routerLink="about">About</a></li>
						<li><a routerLink="portfolio">Portfolio</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<!-- End Header Area -->