/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";

//
// Grid mixins
//

@import "@import ~bootstrap/scss/_mixins.scss";


// including variables and mixins
@import "./assets/theme/variables";
@import "./assets/theme/mixins";
@import "./assets/theme/flexbox";
@import "./assets/theme/reset";


// Custom Scss 
@import "./assets/theme/predefined";
@import "./assets/theme/header";
@import "./assets/theme/home";
@import "./assets/theme/pages";
@import "./assets/theme/footer";
@import "./assets/theme/animate.min.css";


#logo img{
    height: 100px;
}
.owl-theme .owl-dots .owl-dot span {
    height: 4px;
    width: 40px;
    background: #eeeeee;
    display: inline-block;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #3b5998;
}