.banner-content .designation .angular{
    color: #c3142e;
}

.testomonial{
    background:#3b5998;
    color: #fff;
    padding: 1.5rem;
    border-radius: 5px;
    height: 100%;
    h4{
        color: #fff;
    }
}