<!-- start banner Area -->
<section class="home-banner-area">
	<div class="container">
		<div class="row fullscreen d-flex align-items-center">
			<div class="banner-content col-lg-6 col-md-12 justify-content-center ">
				<div class="me wow fadeInDown" data-wow-duration="1s" data-wow-delay="1.2s">It's me</div>
				<h1 class="wow fadeInUp" data-wow-duration="1s" data-wow-delay="1.7s">Hemant Patidar</h1>
				<div class="designation mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay="2.1s">
					Expert Frontend
					<span class="designer">Designer</span>
					and
					<span class="developer angular">Angular</span>&nbsp;
					<span class="designer">Developer</span>
				</div>
				<a href="https://www.upwork.com/freelancers/~01c5a5bc5590f16d94" target="_blank" class="primary-btn"
					data-text="Hire Me">
					<span>H</span>
					<span>i</span>
					<span>r</span>
					<span>e</span>
					<span> </span>
					<span>M</span>
					<span>e</span>
				</a>
			</div>
			<div class="banner-img col-lg-6 col-md-6 align-self-end">
				<img class="img-fluid" src="assets/img/banner-img.png" alt="">
			</div>
		</div>
	</div>
</section>
<!-- End banner Area -->


<!-- Start brands Area -->
<section class="brands-area">
	<div class="container">
		<div class="brand-wrap">
			<div class="row align-items-center active-brand-carusel justify-content-start no-gutters">

				<owl-carousel-o [options]="customOptionsBrand" (translated)="getPassedDataBrand($event)"
					class="testi_slider owl-carousel owl-theme owl-responsive--1 owl-loaded">

					<ng-container *ngFor="let slide of slidesStoreBrand">
						<ng-template carouselSlide [id]="slide.id">
							<div class="col single-brand">
								<a href="#"><img class="mx-auto" [src]="slide.img" alt=""></a>
							</div>

						</ng-template>
					</ng-container>

				</owl-carousel-o>

				<!-- <div class="col single-brand">
					<a href="#"><img class="mx-auto" src="assets/img/brand/b2.png" alt=""></a>
				</div>
				<div class="col single-brand">
					<a href="#"><img class="mx-auto" src="assets/img/brand/b3.png" alt=""></a>
				</div>
				<div class="col single-brand">
					<a href="#"><img class="mx-auto" src="assets/img/brand/b4.png" alt=""></a>
				</div>
				<div class="col single-brand">
					<a href="#"><img class="mx-auto" src="assets/img/brand/b5.png" alt=""></a>
				</div> -->
			</div>
		</div>
	</div>
</section>
<!-- End brands Area -->


<!-- Start About Area -->
<section class="about-area section-gap">
	<div class="container">
		<div class="row align-items-center justify-content-between">
			<div class="col-lg-6 about-left">
				<img class="img-fluid" src="assets/img/about-img.jpg" alt="">
			</div>
			<div class="col-lg-5 col-md-12 about-right">
				<div class="section-title">
					<h2>about myself</h2>
				</div>
				<div class="mb-50 wow fadeIn" data-wow-duration=".8s">
					<p>
						Hi! I am Hemant Patidar, a web designer/developer focused on crafting great web experiences.
						Designing and Coding have been my passion since the days I started working with computers but I
						found myself into web design/development since 2012. I enjoy creating beautifully designed,
						intuitive and functional websites.
					</p>
					<p> For over past 8 years, I have worked for some of the best digital agencies and wonderful clients
						to create some award winning works. And, I can make this happen for your business as well.
					</p>
					<img src="./assets/img/signature.png" alt="">
				</div>
				<div>
					<a routerLink="about" class="primary-btn white" data-text="More Info">
						<span>M</span>
						<span>o</span>
						<span>r</span>
						<span>e</span>
						<span> </span>
						<span>I</span>
						<span>n</span>
						<span>f</span>
						<span>o</span>
					</a>
					<a routerLink="about" class="primary-btn" data-text="Resume">
						<span>R</span>
						<span>e</span>
						<span>s</span>
						<span>u</span>
						<span>m</span>
						<span>e</span>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End About Area -->


<!-- Start Work Area Area -->
<section class="work-area section-gap-top section-gap-bottom-90" id="work">
	<div class="container">
		<div class="row d-flex justify-content-between align-items-end mb-80">
			<div class="col-lg-6">
				<div class="section-title">
					<h2>Latest Works</h2>
					<!-- <p>If you are looking at blank cassettes on the web, you may be very confused at the difference in
						price. You may see
						some for as low as $.17 each.</p> -->
				</div>
			</div>
		</div>

		<div class="filters-content">
			<div class="row grid">
				<div class="single-work col-lg-4 col-md-6 col-sm-12 all creative wow fadeInUp" data-wow-duration="2s">
					<div class="relative">
						<div class="thumb">
							<div class="overlay overlay-bg"></div>
							<img class="image img-fluid" src="assets/img/work/w1.png" alt="">
						</div>
						<div class="middle">
							<h4>GoBeauticians.com</h4>
							<div class="cat">Beauty Website</div>
						</div>
						<a class="overlay" routerLink="portfolio"></a>
					</div>
				</div>
				<div class="single-work col-lg-4 col-md-6 col-sm-12 all web-design branding wow fadeInUp"
					data-wow-duration="2s" data-wow-delay="0.2s">
					<div class="relative">
						<div class="thumb">
							<div class="overlay overlay-bg"></div>
							<img class="image img-fluid" src="assets/img/work/w2.png" alt="">
						</div>
						<div class="middle">
							<h4>Pitch.com</h4>
							<div class="cat">Pitch helps teams build better presentations: collaboratively, effectively,
								and beautifully.
							</div>
						</div>
						<a class="overlay" routerLink="portfolio"></a>
					</div>
				</div>
				<div class="single-work col-lg-4 col-md-6 col-sm-12 all branding web-design wow fadeInUp"
					data-wow-duration="2s" data-wow-delay="0.4s">
					<div class="relative">
						<div class="thumb">
							<div class="overlay overlay-bg"></div>
							<img class="image img-fluid" src="assets/img/work/w3.png" alt="">
						</div>
						<div class="middle">
							<h4>Yummygum.com</h4>
							<div class="cat">We are a design studio from Amsterdam. We help startups and established
								businesses to refine, design and build their digital products.
							</div>
						</div>
						<a class="overlay" routerLink="portfolio"></a>
					</div>
				</div>
				<div class="single-work col-lg-4 col-md-6 col-sm-12 all web-design wow fadeInUp" data-wow-duration="2s"
					data-wow-delay="0.6s">
					<div class="relative">
						<div class="thumb">
							<div class="overlay overlay-bg"></div>
							<img class="image img-fluid" src="assets/img/work/w4.png" alt="">
						</div>
						<div class="middle">
							<h4>Ngx-Admin Angular Theme</h4>
							<div class="cat">Client Project</div>
						</div>
						<a class="overlay" routerLink="portfolio"></a>
					</div>
				</div>
				<div class="single-work col-lg-4 col-md-6 col-sm-12 all creative wow fadeInUp" data-wow-duration="2s">
					<div class="relative">
						<div class="thumb">
							<div class="overlay overlay-bg"></div>
							<img class="image img-fluid" src="assets/img/work/w5.png" alt="">
						</div>
						<div class="middle">
							<h4>Fuse Admin Angular Theme</h4>
							<div class="cat">Client Project</div>
						</div>
						<a class="overlay" routerLink="portfolio"></a>
					</div>
				</div>
				<div class="single-work col-lg-4 col-md-6 col-sm-12 all branding wow fadeInUp" data-wow-duration="2s"
					data-wow-delay="0.2s">
					<div class="relative">
						<div class="thumb">
							<div class="overlay overlay-bg"></div>
							<img class="image img-fluid" src="assets/img/work/w6.png" alt="">
						</div>
						<div class="middle">
							<h4>ag-grid Angular</h4>
							<div class="cat">The Best JavaScript Grid in the World
							</div>
						</div>
						<a class="overlay" routerLink="portfolio"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Work Area Area -->


<!-- Start Job History Area Area -->
<app-job-history></app-job-history>
<!-- End Job Historyt Area Area -->


<!-- Start Service Area -->
<section class="service-area section-gap">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="section-title">
					<h2>Service Offers</h2>
					<p>If you are looking at blank cassettes on the web, you may be very confused at the difference in
						price. You may see
						some for as low as $.17 each.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 col-md-6">
				<div class="single-service wow fadeInUp" data-wow-duration="1s">
					<span class="lnr lnr-screen"></span>
					<h4>
						<span>UI/UX </span> Design
					</h4>
					<p>If you’re looking blank casvsettes on the web, you may confuse. </p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="single-service wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.2s">
					<span class="lnr lnr-laptop-phone"></span>
					<h4><span>Application</span> Development
					</h4>
					<p>If you’re looking blank casvsettes on the web, you may confuse.</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="single-service wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.4s">
					<span class="lnr lnr-database"></span>
					<h4><span>Web</span> Development
					</h4>
					<p>If you’re looking blank casvsettes on the web, you may confuse.</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6">
				<div class="single-service wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.6s">
					<span class="lnr lnr-chart-bars"></span>
					<h4><span>Web</span> Development
					</h4>
					<p>If you’re looking blank casvsettes on the web, you may confuse.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Service Area -->


<!-- Start Testimonials Area -->
<!-- <section class="testimonials_area section-gap">
	<div class="container">
		<owl-carousel-o [options]="customOptions" (translated)="getPassedData($event)"
			class="testi_slider owl-carousel owl-theme owl-responsive--1 owl-loaded">

			<ng-container *ngFor="let slide of slidesStore">
				<ng-template carouselSlide [id]="slide.id">
					<div class="item">
						<div class="testi_item">
							<img src="assets/img/quote.png" alt="">
							<h4>{{slide.client}}</h4>
							<p> <i class="fa fa-map-marker" aria-hidden="true"></i>
								{{slide.position}}
							</p>
							<ul class="list">
								<li><a href="#"><i class="fa fa-star"></i></a></li>
								<li><a href="#"><i class="fa fa-star"></i></a></li>
								<li><a href="#"><i class="fa fa-star"></i></a></li>
								<li><a href="#"><i class="fa fa-star"></i></a></li>
								<li><a href="#"><i class="fa fa-star"></i></a></li>
							</ul>
							<div class="wow fadeIn" data-wow-duration="1s">
								<p>
									{{slide.message}}
								</p>
							</div>
						</div>
					</div>

				</ng-template>
			</ng-container>

		</owl-carousel-o>
	</div>
</section> -->
<!-- End Testimonials Area -->


<section class="service-area section-gap">
	<div class="container">
		<div class="row">
			<div class="col-lg-12" >
				<div class="section-title">
					<h2>Testomonial</h2>
					<p>Testimonials are written or recorded statements that support your credibility and level of
						expertise. They also strengthen your reputation by expressing the trust that other people have
						in you and your business offerings.</p>
				</div>
			</div>
		</div>
		<div class="row" >
			<div class="col-lg-6 col-md-12" *ngFor="let slide of slidesStore" style="margin-bottom: 15px;">
				<div class="testomonial">
					<span class="lnr lnr-screen"></span>
					<h4>
						<span>{{slide.client}}</span>
					</h4>
					<p> <i class="fa fa-map-marker" aria-hidden="true"></i>
						{{slide.position}}
					</p>
					<p>{{slide.message}} </p>
				</div>
			</div>
		</div>
	</div>
</section>